@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5E8D3;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  width: 100%;       
  max-width: none;   
  margin: 0;       
  padding: 0;        
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
