@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  body {
    @apply bg-brand-beige min-h-screen;
  }
}
